/* transition */
.tranzitionPvz > div:nth-child(1){
  width: 100px;
  height: 100px;
  color: white;
  background-color: black;
  /* transition-property: width;
  transition-duration: 5s;
  transition-timing-function: ease;
  transition-delay: 0s; */
  transition: 5s 0s ease all;
}

.tranzitionPvz > div:nth-child(1):hover{
  width: 500px;
  color: rgb(8, 4, 251);
  font-size: 30px;
  text-transform: uppercase;
}

.tranzitionPvz > button{
  width: 100px;
  height: 50px;
  transition: 0.5s linear;
}
.tranzitionPvz > button:hover{
  color: green;
  background-color: red;
}

/* animation */
div.helperTall{
  height: 100vh;
}

.animationPvz > div:nth-child(1){
  width: 150px;
  height: 100px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: betkoks; */
  animation: 10s linear 0s infinite alternate none paused betkoks;
}
.animationPvz > div:nth-child(1):hover{
  animation-play-state: paused;
}
@keyframes betkoks{
  0% {
    background-color: white;
    border: 5px solid black;
    transform: translateX(300px);
  } 50% {
    background-color: orange;
    color: rgb(0, 0, 0);
    border: 0px solid black;
    transform: translate(100px, 300px);
    border-radius: 0%;
    width: 50px;
  } 100% {
    background-color: orange;
    transform: translate(100px, 0px);
    border-radius: 50%;
  }
}

div.animationPvz > img:nth-child(2){
  height: 200px;
  width: auto;
  transform: translateX(500px);
  animation: 5s alternate infinite levitate ease-in-out;
}
@keyframes levitate{
  0% {
    transform: translate(500px, 20px);
  } 100% {
    transform: translate(500px, -20px);
  }
}



body{
  background-color: aquamarine;
  color: red;
}
header{
  display: flex;
  justify-content: center;
}
header div{
  display: none;
}

@media (min-width: 678px){
  body{
    background-color: blanchedalmond;
  }
  header{
    flex-direction: column;
    align-items: center;
  }
  header div{
    display: unset;
  }
}

@media (min-width: 992px){
  body{
    color: green;
  }
  header{
    flex-direction: row;
    justify-content: space-between;
  }
  header ul{
    display: flex;
    gap: 20px;
  }
}

@media (min-width: 1200px){
  header{
    padding: 0 100px;
  }
}