@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
body {
    text-align: center;
}
.forma textarea {
    resize:none;
}
li {
    text-align: left;
    color: #662323;
}