@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
html {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 10px;
}
#allCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.card{
    width:300px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
}