@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

.pavyzdineLentele{
  border-collapse: collapse;
  border-spacing: 0;
}

/* td, th{
  border: 1px solid grey;
  border-width: 1px;
  border-style: solid;
  border-color: black; 
  padding: 3px 5px;
} */

.task1 > table{
  border-collapse: collapse;
}

.textCenter{
  text-align: center;
}

.task1 tr > :first-child{
  color: blue;
}

.colorRed{
  color: red;
}

div.hihi.haha#idVardas{
  color: white;
  background-color: black;
}

.korteles > *{
  overflow: hidden;
  display: flex;
  margin: 1px;
  width: 300px;
  height: 100px;
  background-color: aquamarine;
}

input:checked ~ label{
  color: red;
}

.task1{
  background-color: rgb(255, 235, 235);
  padding: 30px 0;
}
.task1 > h1{
  margin-top: 0;
  text-align: center;
}

.task1 > table{
  margin: 0 auto;
  width: 80%;
}

.task2{
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.task2 > h1{
  margin-top: 0;
}

.task2 > table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 500px;
}

.task2 td{
  border: 1px solid grey;
  font-size: 0.7rem;
}
td.bigTdText{
  font-size: 1.2rem;
  font-weight: 700;
}

.whiteBg{
  background-color: white;
  color: black;
}
.orangeBg{
  background-color: orange;
}
.redBg{
  background-color: red;
}
.blueBg{
  background-color: blue;
}

.task2 tr > :first-child{
  text-align: left;
}

.task2 button{
  background-color: red;
  color: white;
  border-radius: 10px;
}