@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

html{
  scroll-behavior: smooth;
}
header{
  width: 200px;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
main{
  margin-left: 200px;
}

