@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
html {
  font-size: 10px;
}

header {
  position: relative;
  background-image: url(../images/ursa-major-ursa-minor-constellations-collage-concept.jpg);
  background-size: cover;
  height: 100vh;
}
header > div:hover {
  background-color: rgba(255, 255, 255, 0.26);
}
header > div {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div > div {
  position: absolute;
  left: 20px;
  top: 20px;
}
header > div > div > a > div {
  display: flex;
  flex-direction: column;
  border: 2px dashed white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  align-items: center;
}
header > div > div > a > div > img {
  width: 70%;
}
header > div > div > a > div > H3 {
  position: relative;
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  bottom: 15px;
  color: white;
}
header > div > nav {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
header > div > nav > a > button {
  height: 1.5em;
  width: 8em;
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  border-radius: 1em;
}
header > a > button {
  font-size: 1.7em;
  border-radius: 0.5em;
  border: 2px solid white;
  width: 10em;
  height: 2em;
  color: white;
  background-color: transparent;
  font-style: italic;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.185);
}

main {
  padding: 3em;
  background-image: url(../images/logo1.png);
  background-size: 100px;
}
main > #apie {
  box-shadow: 2px 2px 2px 3px grey;
  border-radius: 3em;
  border: 2px solid grey;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  padding: 2em;
}
main > #apie > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > #apie > div > img {
  width: 20em;
}
main > #star {
  padding: 1em;
  box-shadow: 2px 2px 2px 3px grey;
  border-radius: 3em;
  border: 2px solid grey;
}
main > #star > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > #star > div > table {
  border-collapse: collapse;
}
main > #star > div > table > caption {
  font-size: 2.5em;
}
main > #star > div td, main > #star > div th {
  height: 1.5em;
  width: 7em;
  border: 1px solid black;
}
main > #star > div thead, main > #star > div tbody, main > #star > div tfoot {
  border: 2px solid black;
}
main > #star > div tfoot td {
  text-align: center;
}

footer {
  background-color: blueviolet;
}
footer > p {
  text-align: center;
  margin: 0;
  color: white;
}

@media (min-width: 777px) {
  html {
    font-size: 15px;
  }
  header > div {
    justify-content: end;
  }
  header > div nav {
    flex-direction: row;
  }
  header > div nav > a > button {
    width: 6em;
  }
  main #apie {
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */