@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
html {
    scroll-behavior: smooth;
}
main {
    margin-left: 20px;
}
.kvadratas {
    width: 100px;
    height: 100px;
    border:2px solid black;
   /*  text-align: center; */
    font-size: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flexTest {
    border: 1px solid black;
    height: 350px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse;  juos pakeiÄia flex-flow*/
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    gap: 30px 20px;
}
.order1 {
order: 1;
}
.order2 {
order:2
}
.alighSelf {
    align-self: flex-start;
}
.itemFlex1 {
    flex: 1 1 0;
}
.itemFlex2 {
    flex: 2 1 0;
}
.fonas1 {
    color: transparent;
    height: 500px;
    background-image: url("https://cdn.sanity.io/images/2yyup5mx/production/d5a915cd9db3444998926f61645b6f83a53aced0-5000x2813.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    font-size: 50px;
    
}
.fonas2 {
    height: 500px;
    position: relative;
    background-color: rgba(189, 172, 148, 0.219);


}
.fonas2 > img[alt="bgImage"] {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.z_index {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
/* menu */
header {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;

}
header ul > li a{
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.5s;

}
header li > a:hover {
    color: green;
}
section[id] {
    scroll-padding-top: 50px;
}