.toDoElement{
    
    display: flex;
    gap:30px;
    justify-content: space-between;
    align-items: center;
}
.toDoElement>button{
    height: 30px;
}
.completed{
    background-color: aquamarine;
}
.notCompleted{
    background-color:blueviolet;
}